body {
    background-color: #f4f7f8;
}
#nav{
  background-color:white;
  }
  #search{
  width:40%;
  height:70%;
  }
  a.ex2:hover, a.ex2:active {font-size: 112%;text-decoration:none;}
  a.ex3:hover, a.ex3:active {font-size: 120%;  text-decoration:none;}
  #search1{
  width:10%;
  height:70%;
  }
  #agey{
  font-size:42px;
  
  font-family:bolder;
  }

  
  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  #form{
  margin-left:280px;
  }
  
  input.search-query {
      background-color:#f47443;
      color:grey;
  }
  
  .button {
      background-color: #2196F3; 
      border: none;
      margin-left:300px;
      width: 100px;
   height: 100px;
       
      color: white;
      padding: 20px;
      
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }
  .button:hover{
   background: #0b7dda;
   transform: scale(1.1);
  }
  
  
  .button5 {border-radius: 100%;}
  
  * {
      box-sizing: border-box;
  }
  
  .column {
      float: left;
      width: 33.33%;
      padding: 5px;
  }
  .search{
      max-height: 5%;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
      content: "";
      clear: both;
      display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
      .column {
          width: 100%;
      }
  }


/*.................................................................*/





/* Highlights */
.highlights {
  width: 100%;
  margin: 2.5rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }
  .highlights > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0; }
  .highlights > * {
    width: 30%; }
  .highlights > * {
    padding: 1.5rem;
    width: calc(30% + 1rem); }
  .highlights > :nth-child(-n + 3) {
    padding-top: 0; }
  .highlights > :nth-last-child(-n + 3) {
    padding-bottom: 0; }
  .highlights > :nth-child(3n + 1) {
    padding-left: 0; }
  .highlights > :nth-child(3n) {
    padding-right: 0; }
  .highlights > :nth-child(3n + 1),
  .highlights > :nth-child(3n) {
    width: calc(30% + -0.5rem); }
  .highlights .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    text-align: center; }
    .highlights .content .icon {
      font-size: 5rem; }
  .highlights > div > :last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    .highlights > * {
      width: 50%; }
    .highlights > * {
      padding: 1rem;
      width: calc(30% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(2n) {
      padding-right: 0; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      width: calc(50% + 0rem); }
    .highlights .content {
      padding: 2rem; } }
  @media screen and (max-width: 736px) {
    .highlights > * {
      width: 100%; }
    .highlights > * {
      padding: 1rem;
      width: calc(30% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(2n) {
      padding-right: 1rem; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > :nth-child(-n + 1) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 1) {
      padding-bottom: 0; }
    .highlights > :nth-child(1n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(1n) {
      padding-right: 0; }
    .highlights > :nth-child(1n + 1),
    .highlights > :nth-child(1n) {
      width: calc(100% + 1rem); } }

.highlights .content {
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

/* Icons */
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0; }
  ul.icons li {
    display: inline-block;
    padding: 0 1rem 0 0; }
    ul.icons li:last-child {
      padding-right: 0; }
    ul.icons li .icon:before {
      font-size: 2rem; }

      body{
        background-color: #f4f7f8;
    }
    /*a.ex2:hover, a.ex2:active, a.ex2:visited, a.ex2:link {text-decoration:none;}*/
    .menu-content {
        max-height: 0;
        overflow: hidden;
        font-family: 'Oswald', sans-serif; 
        padding: 0 0 0 50px;
    }
    
    input:checked ~ .menu-content {
        max-height: 100%;
    }
    
    input#menu {
        display: none;
    }
    .menu-content {
        font-family: 'Oswald', sans-serif; 
        padding: 0 0 0 50px;
    }
    .collapsible-menu {
        background-color: transparent;
        padding: 0px 30px;
        border-bottom: 3px solid #f4f7f8;
        box-shadow: 1px 2px 3px #f4f7f8;
    }
    .collapsible-menu ul {
        list-style-type: none;
        padding: 0;
    }
    .collapsible-menu a {
        display:block;
        padding: 10px;
        text-decoration: none;
    }
   
    
    
    
    .menu-content {
        font-family: 'Oswald', sans-serif; 
        padding: 0 0 0 50px;
    }
    .collapsible-menu {
        background-color: transparent;
        padding: 0px 30px;
        border-bottom: 3px solid #f4f7f8;
        box-shadow: 1px 2px 3px #f4f7f8;
    }
    .collapsible-menu ul {
        list-style-type: none;
        padding: 0;
    }
    .collapsible-menu a {
        display:block;
        padding: 10px;
        text-decoration: none;
    }
    
    input#menu {
        display: none;
    }
    
    /*.menu-content {
        max-height: 0;
        overflow: hidden;
        font-family: 'Oswald', sans-serif; 
        padding: 0 0 0 50px;
    }*/
    
    /*input:checked ~ .menu-content {
        max-height: 100%;
    }*/
    /*Icons made by https://www.flaticon.com/authors/cole-bemis from www.flaticon.com/ */
    
    
    .container {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: rgb(95, 92, 92);
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .icon1 {
        width: 35px;
        height: 5px;
        background-color: rgb(95, 92, 92);
        margin: 6px 0;
    }
    
    
    
    
    
    
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    
       
    }
    
    .li {
        float: left;
    }
    
    .li a {
        
        color: #ddd;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #ddd;
    }
    
    
    
    












  