<head>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 



<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--searchbutton-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">







<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">



  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
<div style="height:75px;background-color:#f4f7f8;">
      <ul class="ul" style="display:inline;background-color:#f4f7f8;">
          <li style="background-color:#f4f7f8;">&nbsp;</li>
          <li class="li"><a class="active" href="#" style="font-weight:bold;font-size:20px;color:rgb(131, 127, 127);font-weight:italic;"><img style=" width:10%;"  src="assets/images/logobc.png" /></a></li>
          <li class="li"><p  style="font-weight:bold;color:#f4f7f8;display:inline;font-family: 'Dancing Script', Georgia, Times, serif;font-size: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
          <li class="li"><a class="/home1" href="#" style="font-weight:bold;color:rgb(131, 127, 127);font-family: 'Dancing Script', Georgia, Times, serif;font-size: 25px;">&nbsp;Home&nbsp;</a></li>
          <li class="li"><a href="/register" style="font-weight:bold;color:rgb(131, 127, 127);font-family: 'Dancing Script', Georgia, Times, serif;font-size: 25px;">&nbsp;Register&nbsp;</a></li>
          <li class="li"><a href="/login" style="font-weight:bold;color:rgb(131, 127, 127);font-family: 'Dancing Script', Georgia, Times, serif;font-size: 25px;">&nbsp;Login&nbsp;</a></li>
      </ul>
</div>     
 

  
<div>

<!-- =========================
   INTRO SECTION   
============================== -->
<div style="height:480px;background-image: url('assets/images/intro-bg.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;" >
 <div>
   <br> <br><br>
   
     <h3 class="wow bounceIn" data-wow-delay="0.9s" id="agey" style="color: white; text-align: center;">Agey Barhney k Liye Hazaroun Jobs</h3>
     <br><br><br>
       
<form  class="example" id="form" style="margin-left:253px;">
           <input  type="text" class="search-query offset1" style="height:12%;margin-left:30px;" placeholder="Search By Job Title"  [(ngModel)]="searchCriteria" ng-model="searchCriteria" name="search"/>
           <button type="submit" (click)="search()" style="max-height:42px;"><i class="fa fa-search"></i></button>
       </form><br><br><br>       
     
     
     <button class="button button5" (click)="showMap()" style="margin-left:600px;">Jobs Nearby</button>

   </div>
</div>


<!-- =========================
   Images SECTION   
============================== -->

<div style="background-color:white; height:250px;">
   <br>
   <h3 style="text-align:center;"> Find Your Dream Job On Mulazmat!</h3>
 <br>
 <div class="row" style="height:20%">
     <img class="do" src="assets/images/chat.jpg"  style="width:20%; height:250%; margin-left:65px;">&nbsp;
     <img class="do" src="assets/images/overview-img.jpg"  style="width:20%; height:250%; margin-left:30px;">&nbsp;
     <img class="do" src="assets/images/blog.jpg"  style="width:20%; height:250%; margin-left:30px;">&nbsp;
     <img class="do" src="assets/images/blog.jpg"  style="width:20%; height:250%; margin-left:30px;">&nbsp;
    <!-- <div class="column" style="max-width:200px; height:200px; ">
         <img class="do" src="assets/images/map.jpg"  style="width:50%; height:50%; margin-left:0.0000001px;">

     </div>-->
     <br>
     <br>
  </div>
</div>


<!-- Highlights -->
<section class="wrapper" style="background-image: url('assets/images/grey.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
     <div class="inner">
         <header class="special">
             <br><br>
             <h2 style="text-align:center;">Services We Offer</h2>
             <p style="text-align:center;">In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
         <br>
         </header>
         <div class="highlights">
             <section style="margin-left:60px;">
                 <div class="content">
                     <header>
                         <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                         <h3>Upload Resume</h3>
                     </header>
                     <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                 </div>
             </section>
             <section>
                 <div class="content">
                     <header>
                         <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                         <h3>Recommendations</h3>
                     </header>
                     <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                 </div>
             </section>
             <section>
                 <div class="content">
                     <header>
                         <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
                         <h3>Save Jobs</h3>
                     </header>
                     <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                 </div>
             </section>
             <section style="margin-left:60px;">
                 <div class="content">
                     <header>
                         <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                         <h3>Location</h3>
                     </header>
                     <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                 </div>
             </section>
             <section>
                 <div class="content">
                     <header>
                         <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                         <h3>Chating</h3>
                     </header>
                     <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                 </div>
             </section>
             <section>
                 <div class="content">
                     <header>
                         <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
                         <h3>Hiring</h3>
                     </header>
                     <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                 </div>
             </section>
             <br><br><br>
             <br><br><br>
             <br><br><br>
         </div>
     </div>
     <br><br>
 </section>


<!-- =========================
   Browse Jobs  
============================== -->
<div style="max-width:1025px; height:300px; background-color:white;margin-left:150px; margin-top:20px;">
     <br>
      <h4 style="margin-right:150px;font-weight:bold;font-size:15px;"> &nbsp; Browse Jobs In Pakistan</h4>
      <div class="row" style="margin-left:550px;">
          <div class="column" style="height:20%;width:30%;">
           <a href="#" class="ex2" style="margin-left:10px;">All Sectors</a>
          </div>
          <div class="column" style="height:20%;width:20%;">
               <a href="#" class="ex2" style="margin-right:3px;">IT</a>
          </div>
          <div class="column" style="height:20%;width:50%;">
              <a href="#" class="ex2" style="margin-right:1px;">Services</a>
           </div>
           
      </div>
      <hr style="height:0.5px;border:none;color:#333;background-color:rgb(212, 212, 212);" >
      <div class="row" style="margin-left:100px;">
        <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" >A</a>  <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
        </div>
        <div class="column" style="width:20%;height:100%;">
            <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" >A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" >A</a>
        </div>
        <div class="column" style="width:20%;height:100%;">
            <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" >A</a>
        </div>
        <div class="column" style="width:20%;height:100%;">
            <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" >A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
        </div>
        <div class="column" style="width:20%;height:100%;">
            <a href="#" class="ex3" >A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
        </div>
      </div>
     
    </div>


<!-- =========================
   Best Places to Work   
============================== -->
<div style="max-width:1025px; height:300px; background-color:white;margin-left:150px; margin-top:20px;">
  <br>
   <h4 style="margin-right:150px;font-weight:bold;font-size:15px;"> &nbsp; Best Places to Work</h4>
   <div class="row" style="margin-left:550px;">
       <div class="column" style="height:20%;width:30%;">
        <a href="#" class="ex2" style="margin-left:10px;">All Sectors</a>
       </div>
       <div class="column" style="height:20%;width:20%;">
            <a href="#" class="ex2" style="margin-right:3px;">IT</a>
       </div>
       <div class="column" style="height:20%;width:50%;">
           <a href="#" class="ex2" style="margin-right:1px;">Services</a>
        </div>
        
   </div>
   <hr style="height:0.5px;border:none;color:rgb(124, 119, 119);background-color:rgb(212, 212, 212);" >
   <div class="row" style="margin-left:100px;">
     <div class="column" style="width:20%;height:100%;">
      <a href="#" class="ex3" >A</a>  <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" >A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" >A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" >A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" >A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" >A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
   </div>
  
 </div>
 
<!-- =========================
   Top jobs in Pakistan 
============================== -->
<div style="max-width:1025px; height:300px; background-color:white;margin-left:150px; margin-top:20px;">
   <br>
   <h4 style="margin-right:150px;font-weight:bold;font-size:15px;"> &nbsp; Top Jobs In Pakistan</h4>
   <div class="row" style="margin-left:550px;">
       <div class="column" style="height:20%;width:30%;">
        <a href="#" class="ex2" style="margin-left:10px;">All Sectors</a>
       </div>
       <div class="column" style="height:20%;width:20%;">
            <a href="#" class="ex2" style="margin-right:3px;">Info Tech</a>
       </div>
       <div class="column" style="height:20%;width:50%;">
           <a href="#" class="ex2" style="margin-right:3px;">Sevices</a>
        </div>
        
   </div>
   <hr style="height:0.5px;border:none;color:#333;background-color:rgb(212, 212, 212);" >
   <div class="row" style="margin-left:100px;">
     <div class="column" style="width:20%;height:100%;">
      <a href="#" class="ex3" style="color: black;">A</a>  <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
   </div>
  
 </div>
<!-- =========================
   Featured Jobs 
============================== -->
<div style="max-width:1025px; height:300px; background-color:white;margin-left:150px; margin-top:20px;">
   <br>
   <h4 style="margin-right:150px;font-weight:bold;font-size:15px;"> &nbsp; Featured Jobs</h4>
   <div class="row" style="margin-left:550px;">
       <div class="column" style="height:20%;width:30%;">
        <a href="#" class="ex2" style="margin-left:10px;">By Function</a>
       </div>
       <div class="column" style="height:20%;width:20%;">
            <a href="#" class="ex2" style="margin-right:3px;">By City</a>
       </div>
       <div class="column" style="height:20%;width:50%;">
           <a href="#" class="ex2" style="margin-right:3px;">By Company</a>
        </div>
         
   </div>
   <hr style="height:0.5px;border:none;color:#333;background-color:rgb(212, 212, 212);" >
   <div class="row" style="margin-left:100px;">
     <div class="column" style="width:20%;height:100%;">
      <a href="#" class="ex3" style="color: black;">A</a>  <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
     <div class="column" style="width:20%;height:100%;">
         <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a> <br> <br> <a href="#" class="ex3" style="color: black;">A</a>
     </div>
   </div>
  
 </div>

 <!-- =========================
   App  
============================== -->
<div style="max-width:1025px; height:300px; background-color:white;margin-left:150px; margin-top:20px;">   
</div>
<br>

<!-- =========================
   Copyright 
============================== -->
<div style="width:100%; max-height:80px; background-color:rgb(77, 72, 72);">   
 <br><p style="color:white; margin-left:410px;font-size:12px ;font-family:Arial, Helvetica, sans-serif">Copyright &copy; 2018 Comsats
                 
     | Design: Mulazmat</p>
     <p style="color:white; margin-left:280px;font-size:12px ;font-family:Arial, Helvetica, sans-serif">Reproduction of material from any Mulazmat.pk pages without permission is strictly prohibited</p>
</div>


             <!-- Scripts -->
             <script src="assets/js/jquery.min.js"></script>
             <script src="assets/js/browser.min.js"></script>
             <script src="assets/js/breakpoints.min.js"></script>
             <script src="assets/js/util.js"></script>
             <script src="assets/js/main.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
             <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
           
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
           
             <!--searchbutton-->
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
</div>  



</body>

<router-outlet></router-outlet>




